{% extends "base.html" %}

{% block content %}
<h1 align="center">Записи в блоге</h1>
<p></p>
{% for item in news%}
<div class="col-md6 border rounded border border-dark">
    <h2 align="center">{{item.title}}</h2>
    <td align="center"><img align="center" src="{{item.image}}"></td>
    <div align="center" class="p-3 text-break">
        {{item.content}}
    </div>
    <div align="right" class="p-2 text-break">
        Автор - {{item.user.name}}, Дата написания - {{item.created_date}}
    </div>
</div>
<p></p>
{% endfor %}
{% endblock %}